
body {
	padding: 40px 30px 20px;
	font-family: Helvetica, Arial, sans-serif;
}

h1 a {
	color: black;
	text-decoration: none;
}
h1 a:hover {
	color: #444;
}

.status-bar-container {
	background: #fff;
	width: 500px;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -250px;
	z-index: 60;
}
.status-bar {
	padding: 3px 0 50px;
	text-align: center;
}
.error .status-bar {
	color: #c00;
}
.progress-bar-container {
	border: 1px solid #aaa;
	background: #fff;
	padding: 1px;
	width: 300px;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -151px;
	z-index: 50;
}

.progress-bar {
	background: #9ab;
	height: 18px;
	width: 0%;
	-moz-transition: 8s width ease-out;
	-webkit-transition: 8s width ease-out;
	-ms-transition: 8s width ease-out;
	-o-transition: 8s width ease-out;
	transition: 8s width ease-out;
}

.header {
	color: #aaa;
	text-transform: lowercase;
	font-weight: bold;
}

.header-container, .crew-container {
	position: absolute;
	top: 170px;
}

.header-container {
	left: 0;
	z-index: 40;
	position: fixed;
}

.header-container, .header {
	width: 150px;
}

.header {
	background: #fff;
	padding-top: 30px;
	margin-top: -30px;
	left: 0;
	top: 170px;
}

.header .row {
	padding-left: 20px;
	text-align: right;
	padding-right: 10px;
}

.row-crew {
	height: 180px;
}
.row-rank {
	height: 55px;
}
.row-week {
	height: 40px;
}
.row-weekly {
	height: 70px;
}

.row-members {
	height: 740px;
}

.crew {
	width: 310px;
	padding-left: 23px;
}

.crew .row-crew {
	font-size: 40px;
	font-weight: bold;
	color: #333;
}
.crew .row-crew a {
	color: #333;
	text-decoration: none;
}
.crew .row-crew img {
	width: 96px;
	height: 96px;
	display: block;
	margin-bottom: 20px;
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.crew .row-rank, .crew .row-week, .crew .row-weekly {
	font-size: 30px;
	font-weight: bold;
	color: #666;
}
.crew .row-weekly {
	line-height: 64px;
}
.weekly-not-available {
	color: #aaa;
}
.header .row {
	position: relative;
	top: 10px;
}
.header .row-members {
	top: 27px;
}
.header .row-weekly {
	top: 24px;
}
.member {
	display: block;
	height: 64px;
	position: relative;
	cursor: default;
}
.member .image img {
	position: absolute; top: 0; left: 0;
	display: block; width: 104px; height: 64px;
}
.member .plate {
	position: absolute; top: 0; left: 104px;
}
.member .pattern {
	width: 204px; height: 64px; background-repeat: no-repeat;
	font: bold 12px/64px Arial,Helvetica,Geneva,sans-serif;
	text-align: center; color: #fff;
}
.member .info {
	position: absolute;
	top: 0; left: 0; width: 310px; height: 64px;
	background: #fff;
}
.member .info div {
	font-size: 30px; line-height: 64px;
	position: absolute;
}
.member .info .level {
	font-weight: bold;
	color: #aaa;
	text-align: right;
	width: 70px;
}
.member .info .name {
	color: #000;
	left: 85px;
}
.member .info .producer {
	color: #a21;
	padding-left: 10px;
}
.crew .points {
	font-size: 15px;
	padding-left: 10px;
	font-weight: normal;
	color: #222;
}
.role-leader .info .name {
	color: #039;
	font-weight: bold;
}
.weekly-data img {
	width: 58px; height: 58px;
}

.footer {
	position: absolute;
	top: 1000px;
	font-size: 15px;
	color: #777;
}
